
###> symfony/framework-bundle ###
/api/.env.local
/api/.env.local.php
/api/.env.*.local
/api/config/secrets/prod/prod.decrypt.private.php
/api/public/bundles/
/api/public/build/fonts/glyphicons-*
/api/public/build/images/glyphicons-*
/api/var/
/api/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/api/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> friendsofphp/php-cs-fixer ###
/api/.php-cs-fixer.php
/api/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/api/phpunit.xml
/api/.phpunit.cache/
/api.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/api/public/assets/
/api/assets/vendor/
###< symfony/asset-mapper ###

###> phpstan/phpstan ###
/api/phpstan.neon
###< phpstan/phpstan ###

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
